/* Global styling */
body {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

button {
    background-color: #3882F6;
    color: #F9FAF8;
    font-size: 18px;
    padding: 8px 32px;
    border-radius: 9px;
    border-style: none;
}

/* Styling for header */
.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 21px 207px;
}

.header a {
    text-decoration: none;
}

.logo {
    font-size: 24px;
    font-weight: 700;
    color: #F9FAF8;
}

.header-links {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 0 24px;
}

.header-links a {
    font-size: 18px;
    color: #E5E7EB;
}

/* Styling for hero section */
.hero {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 6%;
    padding: 6%;
}

.hero h1 {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: extra-bold;
    margin-top: 0;
    margin-bottom: -10px;
}

.hero p {
    color: #E5E7EB;
    font-size: 18px;
}

.hero-copy {
    width: 450px;
}

.hero img {
    height: 250px;
    width: 500px;
}

/* Styling for container section */
.container-heading {
    color: #1F2937;
    font-size: 36px;
    font-weight: extra-bold;
    text-align: center;
    padding: 1.5% 0 0 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0 4%;
    padding: 1.5% 0 6% 0;
}

.info img {
    height: 180px;
    width: 180px;
    border-radius: 18px;
    border: 4px solid #3882F6;
}

.text {
    width: 175px;
    text-align: center;
    color: #696969;
    font-size: 18px;
}

/* Styling for testimonial section */
.testimonial {
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 9% 0 6% 0;
}

.testimonial div {
    width: 825px;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    display: flex;
    flex-wrap: wrap;
    padding: 0 0 3% 0;
}

.bio {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    padding-right: 6%;
}

/* Styling for CTA banner section */
.call-to-action {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6%;
}

.banner {
    max-width: 810px;
    background-color: #3882F6;
    border-radius: 9px;
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 4% 9%;
}

.cta-text {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 1%;
}

.cta-subtext {
    color: #E5E7EB;
}

.banner button {
    border: 2px solid #F9FAF8;
}